<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fineinsight.zzango.questionnaire">

    <application
        android:allowBackup="true"
        android:icon="@drawable/questionnaire_logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/questionnaire_logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim">
        </activity>
        <activity android:name=".ServerList.ServerListDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OralExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".LocalList.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".CommonExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".ServerList.ServerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".MentalExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".ElderlyExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".CognitiveExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".SmokingExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".ExerciseExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".DrinkingExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".CancerExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".NutritionExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
        <activity
            android:name=".LocalList.ListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnim" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>